@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #222;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
}

.wrap {
    width: 1000px;
    display: flex;
    
}

.left {
    width: 200px;
    padding: 0 10px;
    position: relative;

}

.logo{
    padding: 30px 0;
    position: absolute;
    top: 0;
    left: 0;
}

.gnb {
    text-align: center;
    margin-top: 110px;
    position: relative;
}

.gnb > li {
}

.gnb > li > a {
    display: block;
    border: 1px solid #666;
    border-bottom: none;
    padding: 14px 0;
    font-size: 16px;
    font-weight: bold;
}

.gnb > li:hover > a {
    background-color: #222;
    color: #fff;
}

.gnb > li:last-child > a {
    border-bottom: 1px solid #666;
}

.gnb ul {
    position: absolute;
    top: -40px;
    left: 100%;
    width: 100%;
    height: 320px;
    display: none;
    z-index: 100;
    background-color: #222;
    color: #fff;
}

.gnb ul li a {
    display: block;
    padding: 10px 0;
}

.gnb ul li a:hover {
    background-color: #fff;
    color:#222;
}

.right {
    width: 800px;
}

.slider {
    position: relative;
    height: 350px;
    overflow: hidden;
}

.slide {
    position: relative;
}

.slide div{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.slide div img {
    width: 800px;
    height: 350px;
    display: block;
}

.contents {
    height: 200px;
    padding: 10px 0;
    display: flex;
    gap: 10px;
}

.contents > div {
    flex: 1;
    width: 260px;
}

.tab {}

.tab_title {
    display: flex;
    gap: 6px;
}

.tab_title h2 {
    width: 100%;
    height: 46px;
    background-color: #ddd;
    text-align: center;
    line-height: 46px;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}

.tab_title h2.active {
    background-color: tomato;
    color: #fff;
}

.tab_content {
}

.notice {
    padding-top: 6px;
    /* display: none; */
}

.notice li a {
    display: block;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notice li a:hover {
    text-decoration: underline;
}

.gallery {
    display: none;
    padding: 15px 0;
}

.gallery li {
    height: 100px;
    width: 32%;
    float: left;
    margin-right: 2%;
}

.gallery li:last-child {
    margin-right: 0;
}

.gallery li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.banner {
    width: 260px;
    height: 180px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link ul {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.link ul li a {
    display: block;
    height: 85px;
    background-color: #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 100px;
    background-color: #eee;
    display: flex;
    align-items: center;
}

.f_logo {
    width: 170px;
}

.f_logo img {
    width: 100%;
}

.f_info {
    flex: 1;
    text-align: center;
}

.f_menu {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.f_menu li a {
    display: block;
    padding: 0 20px;
    position: relative;

}

.f_menu li a:hover {
    text-decoration: underline;
}

.f_menu li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background-color: #999;
}

.f_menu li:first-child a::after {
    display: none;
}

.f_info p {
    font-size: 13px;
    color: #666;
    margin-top: 12px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 300px;
    background-color: #fff;
    padding: 40px;
    border: 1px solid #666;
    display: none;
}

.close_btn {
    display: block;
    width: 60px;
    height: 36px;
    background-color: #666;
    color: #fff ;
    position: absolute;
    right: 40px;
    bottom: 40px;
    text-align: center; 
    line-height: 30px;
}


